.navbar_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(206, 224, 230);
    padding: 0 5%;
    border: 1px solid rgb(221, 232, 236);
}
.navbar_logo{
    width: 50px;
}
.navbar_button{
    background-color: black;
    color: white;
    padding: 10px 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}